#container {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, #40D448, #84DC89, #40D448, #84DC89);
    position: relative;
    width: 250px;
    height: 531px;
    margin: 0 auto;
    border: 5px solid #19551D;
    border-radius: 10px;
    padding: 10px;
}

.alert {
    margin-top: 20px;
    color: #D45440;
    font-weight: bold;
}

.seeThrough {
    opacity: 0;
}

.fadeIn {
    animation: fadeInFromNone .1s;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#header {
    margin-top: -10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    border-top: 10px;
    font-weight: bold;
    background-image: radial-gradient(#3BEBCE, #38CFE1, #3BEBCE);
}

#sub-header {
    text-align: center;
    margin-top: -9px;
    background-image: linear-gradient(to bottom left, #3BEBCE, #38CFE1, #3BEBCE);
    background: .5px solid #38CFE1;
    border-radius: 10px;
    border: .65px solid black;
    width: 40%;
    font-weight: bold;
}

.containers {
    border: 1px solid #19551D;
    border-radius: 10px;
}

.bill-sub-header {
    margin-bottom: 15px;
}

.container-head {
    border-bottom: 1px solid #19551D;
    width: 100%;
    padding-bottom: 10px;
}

.table-header {
    text-align: center;
}


#tipBtn {
    border-radius: 100%;
    border: 1px solid black;
    background-image: radial-gradient(#66FFBA, #40D491);
    margin-top: 5px;
    padding: 0.5rem;
}

#tipBtn:active,
#tipBtn:focus,
#tipBtn.active {
    background-image: none;
    outline: 0;
}


#calculate {
    text-align: center;
    height: 45px;
}

#tipInput {
    width: 100px;
    text-align: center;
}

#alert {
    text-align: center;
    height: 50%;
}

#wheel-container {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}

table,
th,
td {
    text-align: center;
    font-weight: normal;
}

#tipCircleTarget {
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid black;
    padding: 0.8rem;
}

.tipntotal {
    text-align: center;
}

.tipCircle {
    margin: 50%;
    padding-left: 20px;
    text-align: center;
    background-image: radial-gradient(#66FFBA, #40D491);
}

#custom {
    text-align: right;
    padding-right: 20px;
}

#customTip {
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 0.5px 5px;
    text-align: center;
}

#customTipTotal {
    border-radius: 10px;
    margin-top: 2px;
    padding: 0.5px 5px;
}

.slidercontainer {
    margin: 0 auto;
    width: 90%;
    align: center;
}

.sliderMessage {
    font-size: 12px;
    text-align: center;
    align: center;

    padding-top: 6px;
    margin-bottom: -15px;
    font-weight: bold;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background-color: #66FFBA;
    border: 1px solid black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: linear-gradient(to bottom left, #3BEBCE, #38CFE1, #3BEBCE);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom left, #3BEBCE, #38CFE1, #3BEBCE);
    cursor: pointer;
}

.button {
    transition-duration: 0.4s;
}

.button:after {
    opacity: 0;
    transition: all 0.8s
}